.feature-list {
  margin-top: 5rem;

  & > div.row.full-width {
    &:nth-of-type(odd) {
      background-color: $gray-bg-color;
    }

    div.row.standard-width {
      padding-top: 4rem;
      padding-bottom: 4rem;

      h2 {
        @include breakpoint(small only) {
          font-size: 138%;
        }
      }

      p {
        font-size: 110%;

        @include breakpoint(small only) {
          margin-top: 1rem;
        }
      }
    }
  }

  h3 {
    //margin-top: 3rem;
  }
}