.home-hero {
  //background: url('../dist/images/home.jpg') no-repeat center center;
  //background-position: center center;
  //background-repeat: no-repeat;
  //transition: background-image 1.0s cubic-bezier(0.165, 0.84, 0.44, 1);
  //background: url('https://i.ytimg.com/vi/zzo4fF6MFYM/maxresdefault.jpg') no-repeat center center;
  @include hero(100vh);

  .sectionIndicatorWrapper {
    position: absolute;
    top: 100px;
    left: 15px;// calc(50% - 15px);
    color: #fff;

    ul {
      left: 31px;
      position: relative;
      margin-left: 0;
    }

    .sectionIndicator {
      font-size: 30px;
      width: 20px;
      line-height: .7;
      //float: left;

      &.active {
        color:$cinescape-color;
      }
    }

    .sectionProgress {
      height: 75%;
      width: 2px;
      top: 5px;
      position: absolute;
      transform: scaleX(1);
      right: -5px;
      background-color: darken($cinescape-color, 20%);

      //@include breakpoint(small only) {
      //  display:none;
      //}
    }
  }

  .hero-img {
    position:absolute;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity 2.0s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    @include hero(100vh);

    &.hero-active {
      opacity: 1;
    }
  }

  .hero-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: inherit;
    top: 0;

    @include breakpoint(small only) {
      top: $topbar-height;
    }
  }

  .hero-text {
    position: relative;

    //@include breakpoint(small only) {
    //  top: -5rem;
    //}

    h1, h2, h3, h4, h5, p {
      color: white;
      position: relative;
    }

    p {
      border-bottom: solid 1px rgba(255, 255, 255, 0.32);
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;

      & > em {
        font-size: 200%;
      }
    }

    h1 {
      font-size: 250%;
      margin-top:2rem;
      margin-bottom: 2rem;

      @include breakpoint(small only) {
        font-size: 150%
      }
    }

    .button {
      margin-top: 1rem;
      position: relative;
      border-radius: 30px;
      padding-right: 2rem;
      padding-left: 2rem;
      outline: none;
    }
  }
}

.home-content {
  margin-top: 5rem;

  & > div.row.full-width {
    &:nth-of-type(odd) {
      background-color: $gray-bg-color;
    }

    div.row.standard-width {
      padding-top: 4rem;
      padding-bottom: 4rem;

      p {
        font-size: 110%;

        @include breakpoint(small only) {
          margin-top: 1rem;
        }
      }
    }
  }

  h3 {
    //margin-top: 3rem;
  }
}

.call-to-action {
  @include breakpoint (medium up) {
    .button:first-of-type {
      margin-right: 2rem;
    }
  }
}